/* Header */

header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}

h1 {
    padding: .5em;
    color: #012676;
    font-size: 4rem;
}

.logo {
    width: 8rem;
    height: auto;
    padding: 0;
    margin-right: 2vw;
}

main {
    display: flex;
}

aside {
    margin-top: 2rem;
    width: 25%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.event_box {
    width: 75%;
    margin-top: 5vh;
    height: 92%;
    background-color: #f3f3f3;
    border-radius: 5px;
    -webkit-box-shadow: 6px 15px 14px -13px rgba(117, 117, 117, 1);
    -moz-box-shadow: 6px 15px 14px -13px rgba(117, 117, 117, 1);
    box-shadow: 6px 15px 14px -13px rgba(117, 117, 117, 1);
}

.neme {
    padding-left: 1rem;
    font-size: 1.3rem;
    height: 15%;
    display: flex;
    align-items: center;
}

section {
    margin-top: 2rem;
    width: 70%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 6px 15px 14px -13px rgba(117, 117, 117, 1);
    -moz-box-shadow: 6px 15px 14px -13px rgba(117, 117, 117, 1);
    box-shadow: 6px 15px 14px -13px rgba(117, 117, 117, 1);
}

.month {
    background-color: black;
    color: white;
    text-align: center;
    width: 5%;
    min-width: 88px;
    border-radius: 3px;
}

.calender {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
}

.weeks {
    width: 2%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.week_nr {
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4%;
    border-radius: 6px;
    color: white;
}

.week_day {
    width: 98%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.day_of_week {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.days_box {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.day {
    height: 15%;
    width: 14%;
    display: flex;
    align-items: end;
    justify-content: end;
    border: solid 1px black;
}

.next_month {
    color: rgb(154, 154, 154);
}

.weekend {
    color:#012676;
}
