/* header */

header{
    width: 98vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    padding: .5em;
    color: #012676;
    font-size: 4rem;
}

.logo {
    width: 8rem;
    height: auto;
    padding: 0;
    margin-right: 2vw;
}

/* main */

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 98vw;
    height: 60vh;
    justify-content: center;
    align-items: center;
}

.box{

    width: 20vw;
    height: 10vh;
    background-color: #d4d4d8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    /* font-family: ; */
    min-width: 200px;

}

/* responsywnosc */

@media(max-width: 376px) {

    .logo {
        display: none;
    }
}

@media(max-width: 769px) {
    :root {
        font-size: 10px;
    }
}