* :not(p) {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

body{
    background-color: #012676;
}

/* Header */

header {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #012676;
    padding-top: 3rem;
    color: white;
}

/* Main */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #012676;
    height: 90vh;
    width: 100%;
    flex-direction: column;
    color: white;
}

/* Form */

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

form > label {
    align-self: flex-start;
    margin-top: 2rem;
}

.welcome_text {
    text-align: left;
    padding-bottom: 3rem;
}

input {
    width: 20vw;
    height: 5vh;
    border-radius: 2px;
    border: none;
}

.submit {
    background-color: #F9B521;
    border-radius: 5px;
    height: 6vh;
    border: none;
    margin-top: 1rem;
    width: 15vw;
}

a {
    color: white;
}

/*Responsywnosc*/

@media(max-width: 426px) {
    .welcome_text {
        width: 70%;
    }

    input {
        width: 100%;
    }

    .submit {
        width: 70%;
    }
}

@media(max-width: 768px) {
    input {
        width: 100%;
    }

    .submit {
        width: 75%;
    }

    .welcome_text {
        width: 40%;
    }
}
