body {
    overflow-y: hidden;
}

/* Main */

main {
    display: flex;
    height: auto;
    flex-direction: row;
    align-items: center;
    padding: 0 4rem 15rem 4rem;
}

/* Header */

header {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    padding: .5em;
    color: #012676;
    font-size: 4rem;
}

/* Section */

section {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: auto;
    gap: 5rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 90%;
    max-width: 750px;
}

.block {
    background-color: #012676;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 100;
    font-size: large;
    border-radius: 4.5px;
    max-width: 400px;
}

.block:hover {
    filter: opacity(0.8);
}

.block:last-child {
    background-color: #df0000;
}

.block a, .block a:hover {
    all: unset;
    width: 100%;
    padding: 20px;
    cursor: pointer;
}

aside {
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

aside > img {
    width: 22rem;
    height: 22rem;
    border-radius: 100%;
}

.info_container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 18rem;
    font-size: 1rem;
}

.stars_container {
    gap: 20px;
    display: flex;
    flex-direction: row;
}

.stars_container i {
    font-size: 1.5rem;
    justify-content: space-between;
    color: rgb(186, 186, 1);
}

.info_container i {
    font-size: 1.5rem;
}

table {
    width: 100%;
    background-color: rgb(198, 198, 198);
    border-radius: 15px;
    color: rgb(107, 107, 107);
    padding: 1rem 2rem;
}

td {
    padding: 1rem;
    border-bottom: 2px dotted rgb(137, 137, 137);
}

td:nth-child(2) {
    text-align: end;
}

.personal_info {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.edit_profile {
    width: 65%;
    height: 40px;
    background-color: #c0c0c0;
    border: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: 6px rgb(157, 157, 157) solid;
    cursor: pointer;
}

.edit_profile:hover {
    border-bottom-width:4px;
    transition: all 0.1s ease;
}

.edit_profile:active {
    border-bottom: none;
    background-color: #b1b1b1;
}

/* Responsywnosc */
  
@media (max-width: 680px) {
    .container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 980px) {
    main {
        padding-bottom: 10rem;
        gap: 2rem;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0 1rem 10rem 1rem;
    }

    table {
        font-size: 12px;
    }

    section {
        justify-content: center;
        align-items: center;
        width: 89vw;
    }

    footer {
        z-index: 1;
    }
}
