<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona główna</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
        <header>
            <h1>Strona Główna</h1>
            <img src="img/logo.png" class="logo" alt="logo zsti">
        </header>
        <main>
            <article>
                <h2>Twoje Zgłoszenia</h2>
                <article class="result">
                    <div class="user_info">
                        <img src="img/conor.png">
                        <div class="info">
                            <p class="username"><b>Connor Mcgregor</b><br>connor.mcgregor@gmail.com</p>
                        </div>
                    </div>
                    <div class="sbj_info">
                        <h5>Informacje</h5>
                        <div class="subject_info">
                            <div class="subject">Matematyka</div>
                            <div class="unit">Dział 2</div>
                            <div class="topic">Dodawanie i odejmowanie</div>
                        </div>
                    </div>
                    <button class="result_link">Wybierz <i class="bi bi-arrow-right"></i></button>
                </article>
            </article>
            <article>
                <h2>Twoje Kursy</h2>
                <article class="result">
                    <div class="user_info">
                        <img src="img/conor.png">
                        <div class="info">
                            <p class="username"><b>Connor Mcgregor</b><br>connor.mcgregor@gmail.com</p>
                        </div>
                        <div class="vertical_line"></div>
                        <img src="img/conor.png">
                        <div class="info">
                            <p class="username"><b>Connor Mcgregor</b><br>connor.mcgregor@gmail.com</p>
                            <div class="stars_container">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                        </div>
                    </div>
                    <div class="sbj_info">
                        <h5>Informacje</h5>
                        <div class="subject_info">
                            <div class="subject">Matematyka</div>
                            <div class="unit">Dział 2</div>
                            <div class="topic">Dodawanie i odejmowanie</div>
                        </div>
                    </div>
                    <button class="result_link">Wybierz <i class="bi bi-arrow-right"></i></button>
                </article>
            </article>
        </main>
        <footer>
            <div class="icon-container">
                <a href="zgloszenia.html"><i class="bi bi-people"></i></a>
                <a href="dodaj_zgloszenie.html"><i class="bi bi-person-plus"></i></a>
                <a href="index.html"><i class="bi bi-house active"></i></a>
                <a href="kalendarz.html"><i class="bi bi-calendar4-event"></i></a>
                <a href="profil.html"><i class="bi bi-person-circle"></i></a>
            </div>
        </footer>
</body>
</html>
