<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Register page">
    <meta name="authors" content="Szymon Rzeszowski, Mateusz Sycz, Jakub Stopa, Krzysztof Paździor, Dawid Zyś, Igor Wnuk, Wiktor Sadłowski">
    <title>Profil</title>
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="main.js" defer></script>
</head>

<body>
    <main>
        <h1>Profil</h1>
        <section>
            <div class="options">
                <div class="blue">
                    <p>Notatki</p>
                    <img src="" alt="strzałka" />
                </div>
                <div class="blue">
                    <p>Opinie</p>
                    <img src="" alt="strzałka" />
                </div>
                <div class="blue">
                    <p>Kompetencje</p>
                    <img src="" alt="strzałka" />
                </div>
                <div class="red">
                    <p>Wyloguj</p>
                    <img src="" alt="strzałka" />
                </div>
            </div>
        </section>
    </main>
    <footer>
        <i class="bi bi-person-plus"></i>
    </footer>
</body>

</html>valtr