body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 0.9fr 1.2fr 0.9fr;
    grid-template-rows: 0.4fr 2.4fr 0.2fr;
    grid-template-areas:
        "head head head"
        "main main main"
        "foot foot foot";
}

/*Header*/

header {
    grid-area: head;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 2rem;
    margin-left: 2rem;
}

h1 {
    color: #012676;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    width: 14rem;
    height: 7rem;
    padding: 0;
    margin-right: 2rem;
    margin-top: 2rem;
}


/*Main*/

main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

article {
    background-color: #E4E4E7;
    flex-basis: 31%;
    height: 19rem;
    margin: 1rem;
    box-shadow: 5px 5px rgb(177, 177, 177);
    border-radius: 10px;
}


/*Footer*/
footer {
    grid-area: foot;
    display: flex;
    justify-content: center;
    border-top: 1rem solid #E4E4E7;
    padding-top: 10px;
    width: 93%;
    justify-self: center;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

img {
    width: 5rem;
    height: 5rem;
}

#li1 {
    background-image: url(img/pic1.png);
}

#li2 {
    background-image: url(img/pic2.png);
}

#li3 {
    background-image: url(img/pic3.png);
}

#li4 {
    background-image: url(img/pic4.png);
}

#li5 {
    background-image: url(img/pic5.png);
}