body {
    margin: 0;
}

.container {
    /* display: grid;
    grid-template-columns: 0.9fr 1.2fr 0.9fr;
    grid-template-rows: 0.4fr 3.6fr 0.2fr;
    grid-template-areas:
        "head head head"
        "main main main"
        "foot foot foot"; */
}

/* Header */

header {
    grid-area: head;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 2vw;
    margin-left: 2vw;
}

h1 {
    color: #012676;
    font-size: 4rem;
    margin-top: 3vw;
}

.logo {
    width: 10vw;
    height: auto;
    padding: 0;
    margin-right: 2vw;
}

/* Main */

main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

article {
    background-color: #E4E4E7;
    flex-basis: 31%;
    height: 14vw;
    margin: 1%;
    box-shadow: 0.5vw 0.5vw rgb(177, 177, 177);
    border-radius: 1vw;
}

/* Footer */

footer {
    grid-area: foot;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-bottom: 5vh;
    background-color: #fff;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    border-top: 5px solid #E4E4E7;
    width: 90%;
}

a {
    padding-top: 1em;
    scale: 2;
    transition: ease-out 0.3s;
}

a:hover {
    color: #F9B521;
    cursor: pointer;
    transition: ease-in 0.3s;
}

.active {
    color: #F9B521;
}

@media(max-width: 426px) {

}

@media(max-width: 768px) {
    .container{
        grid-template-rows: 0.3fr 2.5fr 0.2fr;
    }

    /* Header */

    h1 {
        margin-top: 4vw;
        margin-left: 6vw;
    }

    .logo {
        display: none;
    }

    /* Main */

    main {
        grid-area: main;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
    
    article {
        background-color: #E4E4E7;
        flex-basis: 80%;
        height: 35vw;
        margin: 3vw;
        box-shadow: 0.5vw 0.5vw rgb(177, 177, 177);
        border-radius: 1vw;
    }

}

@media only screen and (min-width: 768px) and (max-width: 2000px) {
    :root {
        font-size: 20px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    :root {
        font-size: 10px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 767px) {
    :root {
        font-size: 15px;
    }
}

@media only screen and (min-width: 0px) and (max-width:300px) {
    :root {
        font-size: 5px;
    }
}