body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 0.9fr 1.2fr 0.9fr;
    grid-template-rows: 0.4fr 3.6fr 0.2fr;
    grid-template-areas:
        "head head head"
        "main main main"
        "foot foot foot";
}

/*Header*/

header {
    grid-area: head;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 2vw;
    margin-left: 2vw;
}

h1 {
    color: #012676;
    font-size: 4vw;
    margin-top: 2vw;
}

.logo {
    width: 12vw;
    height: 9vw;
    padding: 0;
    margin-right: 2vw;
}


/*Main*/

main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

article {
    background-color: #E4E4E7;
    flex-basis: 31%;
    height: 40%;
    margin: 1%;
    box-shadow: 0.5vw 0.5vw rgb(177, 177, 177);
    border-radius: 1vw;
}


/*Footer*/
footer {
    grid-area: foot;
    display: flex;
    justify-content: center;
    border-top: 1vw solid #E4E4E7;
    padding-top: 1vw;
    width: 93%;
    justify-self: center;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 4vw;
}

img {
    width: 4vw;
    height: 4vw;
}
@media(max-width: 426px) {

}

@media(max-width: 768px) {
    .container{
        grid-template-rows: 0.3fr 2.5fr 0.2fr;
    }
    /* header */
    h1{
        margin-top: 4vw;
        margin-left: 6vw;
        font-size: 6vw;
    }
    .logo{
        display: none;
    }
    /* main */
    main {
        grid-area: main;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
    
    article {
        background-color: #E4E4E7;
        flex-basis: 80%;
        height: 35vw;
        margin: 3vw;
        box-shadow: 0.5vw 0.5vw rgb(177, 177, 177);
        border-radius: 1vw;
    }
    /* footer */
    footer {
        position:fixed;
        bottom: 0;
        background-color: #fff;
    }
    img{
        height: 8vw;
        width: 8vw;
    }
}