/* body */

body{

    display: flex;

}

/* header */

header{

    width: 70vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    padding: .5em;
    color: #012676;
    font-size: 4rem;
}


/* section */

section{

    width: 70vw;
    height: 40vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 90%;
    max-width: 600px;
    padding-left: 2rem;
    padding-top: 15vh;
}
.block {
    background-color: #012676;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 100;
    font-size: large;
    
}

.block:last-child{

    background-color: #df0000;

}

.block img {
    width: 20%;
    height: auto;
    object-fit: cover;
}

aside{

    width: 40vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}

aside > img{

    width: 18rem;
    height: 18rem;
    border-radius: 100%;

}

.stars_container{

    width: 18rem;

}

.stars_container > img{

    width: 18rem;
    height: 4rem;

}

.info_container{

    width: 18rem;
    font-size: 0.8rem;

}

/* footer */

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10vh;
    bottom: 0;
    position: fixed;
    margin-bottom: 5vh;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    border-top: 5px solid #E4E4E7;
    width: 90%;
}

a {
    scale: 2;
    padding-top: 1em;
    color: black;
    transition: ease-in-out 0.3s;
}

a:hover {
    color: #F9B521;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.active {
    color: #F9B521;
}


/* responsywanosc */

@media (max-width: 680px) {
    .container {
        grid-template-columns: 1fr;
        padding-top: 2vh;
    }
    
}

@media (max-width: 980px) {
    aside{
        display: none;
    }

    section{

        width: 60vw;

    }
}
